footer {
    background: linear-gradient(to right, #140e38, #194089);
    color: white;
    padding: 3em 0;

}

footer h2 a {
    color: #9e48cd !important;
}

.ftco-animate span {
    font-size: 30px
}

.ftco-animate span:hover {
    color: #9e48cd;
}

.foot-r p {
    font-size: 16px;
}

.foot-email:hover {
    color: #9e48cd;
}

.xyzabc-boxShadow {
    box-shadow: 0 14px 24px rgb(0 0 0 / 20%);
    z-index: 399;
}


/* @font-face {
    font-family: 'Montserrat';
    src: url(../Fonts/Montserrat-Regular_d60d904c27aa445d89a0a8e18a1f3fed.ttf);
} */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    ---font: "Ubuntu", sans-serif;
    ---main-bg: linear-gradient(to right, #140e38, #194089);
}

.navbar-brand {
    width: 150px;
    height: auto;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
}

.nav-link {
    font-family: 'Montserrat';
    color: #fff !important;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link::after {
    content: "";
    height: 3.5px;
    width: 50%;
    display: none;
    background: #9e48cd;
    position: relative;
    left: 50%;
    margin-top: 4px;
    transform: translatex(-50%);
    transition: all 1s ease;
}

.nav-link:hover::after {
    display: block;
}

.navbar-nav {
    height: 1.8rem;
}

#navbarNav {
    height: 100%;
}

.nav-top {
    padding: 2em 0;
}